# History files
.Rhistory
.Rapp.history

# Session data
.RData
.RDataTmp
.Ruserdata

# RStudio files
.Rproj.user/

# Caches and temporary files
*_cache/
cache/
*.utf8.md
*.knit.md

# Environment files
.Renviron

# RStudio Connect / deployment
rsconnect/

# OS files
.DS_Store
Thumbs.db
